body{
     color:black;
    background-color: rgb(0, 119, 255);
    font-family:Arial, Helvetica, sans-serif ;
}
  
h1{
    display: inline-flex;
    justify-content: space-between;
    list-style-type:none ;
   color: aqua;
    text-align: center;
padding: 50px;
margin-left: 100px;
}